<!DOCTYPE html>
<html>
<head>
    <title>drum roll, pls | about</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>

<body>
        <header>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="/credits">CREDITS</a></li>
                    <li><a href="/composer">COMPOSER</a></li>
                </ul>
                <div>DRUM ROLL, PLS 🥁</div>
            </header>
            <div id="about">
                <h2>ABOUT</h2>
                <div>
                    <p>
                    For the longest of time, I've wanted to do something with software and music, even when I have zero knowledge about music and 
                    hold the guitar like I would hold a spoon. But what's fun in an activity that you already know, right? (blatant ignorance)
                    </p>
                    <p>
                    Music is fun, and it should be fun, at least for me. Which is why the name of the <em>entire</em> project is something right from
                    a meme-book (?) and the names of the two sub-apps are puns in themselves. Good luck figuring out what I came up with first - the names or the projects.
                    </p>
                    <p>
                    Because of my indecisiveness, there are two products right now, which thankfully didn't go up to three due to lack of time.
                    The first is the main app - a realtime music maker with audio recording and downloading and collabrative properties.
                    The second is a musical game, which um, does not involve any music. It's a guessing - something I remember playing with my brother <em>a lot</em> - only, instead of song titles, we did movie titles.
                    </p>
                    <p>
                    I look forward to improving the apps to something less comic and more valuable in the future.
                    </p>
                </div>
            </div>

</body>
</html>