<!DOCTYPE html>
<html>
<head>
    <title>drum roll, pls | composer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>

<body>
        <header>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/credits">CREDITS</a></li>
                    <li><a href="#">COMPOSER</a></li>
                </ul>
                <div>DRUM ROLL, PLS 🥁</div>
            </header>
            <div id="composer">
                <h2>COMPOSER</h2>
                <div>
                    <p>
                    Hi! My name is Vidhi Bagadia, and I'm a 2019 CS graduate from India.
                    </p>
                    <p>
                    In case you want to discuss indian food, books, or software, you can hit me up here:
                    </p>
                    <p>
                    <a href="https://vidhibagadia.me">website</a>, <a href="https://twitter.com/vidhibagadia">twitter</a>, <a href="https://github.com/vidhibagadia">github</a>, <a href="https://linkedin.com/vidhi-bagadia/">linkedin</a>, <a href="https://dev.to/bagadia">dev.to</a>, <a href="https://codepen.io/vidhi_">codepen</a>, <a href="https://glitch.com/@vidhi">glitch</a>
                    </p>
                    <p>
                    ... you don't need the entire list, just - hit me up anywhere. i'm mostly online.
                    </p>
                    <p>
                        Have a good day!
                    </p>
                </div>
            </div>

</body>
</html>