<!DOCTYPE html>
<html>
<head>
    <title>drum roll, pls | credits</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>

<body>
        <header>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="#">CREDITS</a></li>
                    <li><a href="/composer">COMPOSER</a></li>
                </ul>
                <div>DRUM ROLL, PLS 🥁</div>
            </header>
            <div id="about">
                <h2>CREDITS</h2>
                <div>
                    <p>
                    Most modern projects are a result of an amalgamation of various open source libraries and projecs developed by some really
                    awesome people. Here, the end-credits roll.
                    </p>
                    <p>
                    <a href="https://tonejs.github.io/">Tone.js</a>: an amazing library that makes it super easy to use the Web Audio API.
                    </p>
                    <p>
                    <a href="https://blog.miguelgrinberg.com/">Miguel Grinberg</a>: his <a href="https://www.youtube.com/watch?v=Jwux1TPZUwg">video</a> on socket.io was what gave me the idea for The Toony Tunes Show. Amazing person. Amazing conference talks.
                    </p>
                    <p>
                    <a href="https://docs.genius.com/">Genius API</a>: albeit being a user of the site, i had not yet dived into genius' api and this contest just made me curious about it. the easy-to-use interface quickened my development process.
                    </p>
                    <p>
                    <a href="https://repl.it/repls">Repl.it</a>: i mean, you already are here, right? you must already be aware how user-friendly this platform is. and the contest? that's some interesting stuff. well, credits to make me want to learn music development using software.
                    </p>
                    <p>
                      <a href="https://www.npmjs.com/package/canvas-confetti">Canvas-Confetti</a>: simple and compact use for popping confetti on the page.
                    </p>
                </div>
            </div>

</body>
</html>