<!DOCTYPE html>
<html>
<head>
    <title>drum roll, pls</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>

<body>

    <header>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/credits">CREDITS</a></li>
            <li><a href="/composer">COMPOSER</a></li>
        </ul>
        <div>DRUM ROLL, PLS 🥁</div>
    </header>
    <div id="contents">
        <div class="tunes">
            <h2>The Toony Tunes Show</h2>
            <div>
                Make Music while you:
                <ul>
                    <li>choose your own notes/ patterns</li>
                    
                    <li>do playback singin'</li>
                    <li>record your music</li>
                    <li>download your music</li>
                    <li>make music with OTHERS! (real. time.)</li>
                </ul>
                <a href="/public-room">Public Room</a>
                <a href="private-room">Private Room</a>
            </div>
        </div>
        <div class="game">
            <h2>Sa-Re-GA-ME-Pa-Dha-Ni</h2>
            <div>
                Powered by the GENIUS API, guess the song letter-by-letter. 
                <br/>
                You can avail hints at the cost of lives. Your target is to get to know the entire title of the song.
                <br/>
                <a href="/sa-re-ga-me-pa-dha-ni">Play</a>
            </div>
        </div>
        <div class="tunes">
            <h2>Eenie Minnie Midi Mo</h2>
            <div>
                Make random music with random text.
                <a href="/midi">Play</a>
                
            </div>
        </div>
    </div>



</body>
</html>